body, body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){
     overflow-y: auto !important;
     padding-right: 0 !important;
}
.swal2-popup{
     width: 30em !important;
     padding: inherit !important;
     border-radius: 0.5em !important;
}
.swal2-popup .swal2-footer{
     margin: 0 !important;
     padding: 0 !important;
     border-top: none !important;
}
.swal2-icon{
     margin: 5px !important;
}
.swal2-actions{
     margin: 5px !important;
}
.swal2-actions button{
     font-weight: 600 !important;
}
.swal2-container.swal2-shown {
     background-color: rgba(0,0,0,0.75) !important;
}
.swal2-popup .swal2-content{
     max-height: 200px !important;
     overflow-y: auto !important;
}
.swal2-popup .swal2-styled:focus{
     outline: 0;
     box-shadow: none !important;
}
.swal2-popup .swal2-styled.swal2-confirm{
     background-color: blue !important;
}
.swal2-popup .swal2-confirm:hover, .swal2-confirm:focus{
     background-color: rgb(0,0,100) !important;
}
.swal2-popup .swal2-styled.swal2-cancel{
     background-color: red !important;
}
.swal2-popup .swal2-cancel:hover, .swal2-cancel:focus{
     background-color: rgb(100,0,0) !important;
}
.swal2-image{
     height: 100px;
     width: 100px;
     border-radius: 100%;
}
pre{
     font-family: verdana !important; 
     font-size: 14px !important;
     color: #fff;
     background-color: transparent;
     border-color: transparent;
}
.ui-datepicker{
     z-index: 99999 !important;
}
#ui-datepicker-div{
     width: auto;
     left: calc(50% - 300px / 2) !important;
     font-size: 15px !important;
}
.ui-autocomplete{
     z-index: 99999 !important;
     max-height: 300px !important;
     overflow-y: auto !important;
     overflow-x: hidden !important;
}
/*Bootstrap Modal*/
.modal-lg{
     max-width: 1000px !important;
}
.modal{
     padding-right: 0 !important;
}
.modal-open .modal{
     overflow-y: hidden !important;
}
.modal-dialog{
     margin: 0 auto;
}
.modal-dialog-centered{
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     min-height: calc(100% - (.5rem * 2));
}
.modal-content{
     position: relative;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
     width: 100%;
     pointer-events: auto;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid rgba(0,0,0,.2);
     border-radius: .3rem;
     outline: 0;
}
.modal-backdrop {
     background-color: rgba(0,0,0,0.5) !important;
     opacity: 1 !important;
}
.modal-title{
     font-weight: 600;
}
.modal-body{
     max-height: 400px;
     overflow-y: auto;
     text-align: justify;
     overflow-x: hidden;
}
.modal{
     padding: 0 !important;
}
/*Bootstrap Modal for Image*/
#preview_image_items, 
#column_gambar_items{
     overflow-y: hidden;
     background-color: black;
     padding: 0 !important;
}
/*<img> inside bootstrap modal for image*/
#modal_preview_items, 
#image_column_items{
     max-height: 100vh; 
     width: 100%;
}
/*display file <img> inside input form*/
#preview_items{
     width: 100%; 
     max-height: 250px;
     cursor: pointer;
}
/*Bootstrap Modal for Image modal-lg*/
#preview_image_items .modal-lg, 
#column_gambar_items .modal-lg{
     height: 100vh !important;
     max-width: 100% !important;
}
/*Bootstrap Modal for Image modal-dialog*/
#preview_image_items .modal-dialog, 
#column_gambar_items .modal-dialog{
     margin: 0;
}
#delete_preview_items{
     cursor: pointer;
     text-align: center;
     border: 1px solid red;
     border-radius: 5px;
     color: red;
     background-color: #fff;
     display: none;
}
#delete_preview_items:hover{
     color: #fff;
     background-color: red;
}
#preview_items{
     width: 100%; 
     border-radius: 5px; 
     max-height: 300px;
}
#delete_preview_bukti{
     cursor: pointer;
     text-align: center;
     border: 1px solid red;
     border-radius: 5px;
     color: red;
     background-color: #fff;
     display: none;
}
#delete_preview_bukti:hover{
     color: #fff;
     background-color: red;
}
#preview_bukti{
     width: 100%; 
     border-radius: 5px; 
     max-height: 300px;
}
@media screen and (max-width: 1000px){
     .modal-body{
          max-height: 300px;
     }
}
@media screen and (max-width: 900px){
     
}
@media screen and (max-width: 800px){
     .modal-body{
          max-height: 250px;
     }
}
@media screen and (min-width: 701px){

}
@media screen and (max-width: 700px){

}
@media screen and (max-width: 600px){
     .modal-dialog{
          max-width: 600;
          margin: 0;
     }
}
@media screen and (max-width: 500px){
     
}
@media screen and (max-width: 450px){
     
}
@media screen and (max-width: 400px){
     .modal-body{
          padding: 0.5rem;
     }
}
@media screen and (max-width: 350px){
     .modal-body{
          padding: 0.25rem;
     }
}
@media screen and (max-width: 300px){
     
}